/*HEADER
-----------------------------------------*/
.header{
    height: 80px;
    border-top: 6px solid #2c3e50;
}

/* nav-toggle */
#nav-toggle{
    border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    position: fixed;
    z-index: 15;
    display: none;
    background: #2c3e50;
    padding: 15px;
    top: 0;
    right: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}
#nav-toggle span{
    border-radius: 1px;
    height: 2px;
    width: 30px;
    display: block;
    background: #fff;
    -webkit-border-radius: 8px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
#nav-toggle span:nth-child(2){
    margin: 6px 0;
}
#nav-toggle.active span:nth-child(1){
    transform: rotate(45deg) translate3d(6px, 6px, 0);
    -webkittransform: rotate(45deg) translate3d(6px, 6px, 0);
}
#nav-toggle.active span:nth-child(2){
    opacity: 0;
}
#nav-toggle.active span:nth-child(3){
    transform: rotate(-45deg) translate3d(6px, -5px, 0);
    -webkittransform: rotate(-45deg) translate3d(6px, -5px, 0);
}

/* header logo */
.header-logo{
    width: 180px;
    padding: 22px 0;
    float: left;
}

/* header menu */
.header-nav{
    float: left;
    padding: 25px 0;
}

.header-nav ul li {
    display: inline-block;
    margin: 0 3px;
    position: relative;
}
.header-nav ul li a{
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
}
.header-nav ul li a:hover{
    color: #f47933;
}
.header-nav ul li a.active{
    color: #f47933;
}

/* search */
.header-search{
    position: relative;
    float: right;
    margin: 18px 0;
}
.header-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.header-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}
.header-search input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    opacity: 1;
}
.header-search input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.header-search input::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
.header-search input::placeholder { /* Browsers modernos */
    color: #fff;
}
.header-search input{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    background: #01c0b5;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.header-search button{
    position: absolute;
    top: 50%;
    right: 8px;
    color: #fff;
    font-size: 1.5rem;
    background: transparent;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* redes header */
.header-redes{
    text-align: center;
    margin: 20px 0;
    display: none;
}
.header-redes a{
    color: #fff;
    font-size: 2rem;
    margin: 0 10px;
}

/*AGENCIA
=======================================*/
.agencia{
    background: #f5f5f5;
    padding: 50px 0;
}
.agencia-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.375rem;
}
.agencia-title strong{
    color: #01c0b5;
    font-size: 1.875rem;
}

.agencia-item{
    margin-top: 30px;
    text-align: center;
}
.agencia-item-icon{
    background: #01c0b5;
    color: #fff;
    width: 100%;
    padding: 20px;
    font-size: 6rem;
    position: relative;
}
.agencia-item-icon:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -22px;
    border-left: 22px solid transparent; 
    border-right: 22px solid transparent;
    border-top: 22px solid #01c0b5; 
}

.agencia-item h2{
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin: 25px 0 5px 0;
    text-transform: uppercase;
}

/*CURIOSIDADES
=======================================*/
.curiosidades{
    padding: 50px 0;
    text-align: center;
    color: #fff;
    background-image: url(../images/agencia-curiosidades-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.curiosidades p{
    font-size: 1.875rem;
    font-weight: 700;
}
.curiosidades ul{
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 20px;
}
.curiosidades ul span{
    font-family: 'Oswald', sans-serif;
    font-size: 3.75rem;
    color: #01c0b5;
    display: block;
}

/*EQUIPE
=======================================*/
.equipe{
    background: #f5f5f5;
    padding: 50px 0;
}
.equipe-list{
    text-align: center;
    font-size: 0;
}
.equipe-list li{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background: #fff;
    width: 100%;
    max-width: 322px;
    display: inline-block;
    border: 1px solid #ccc;
    border-top: 0;
}

/* equipe-foto */
.equipe-foto{
    height: 240px;
    overflow: hidden;
    position: relative;
}
.equipe-foto img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.equipe-foto-hover{
    z-index: 1;
    position: absolute;
    background: rgba(45, 63, 81, .85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transform: scale(.4) rotate(400deg);
    -webkit-transform: scale(.4) rotate(400deg);
}
.equipe-foto-hover div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.equipe-foto-hover span{
    color: #fff;
    font-size: 1.125rem;
    position: relative;
}
.equipe-foto-hover span:before,
.equipe-foto-hover span:after{
    content: "";
    background: #fff;
    position: absolute;
    width: 40px;
    height: 1px;
    top: 50%;
}
.equipe-foto-hover span:before{
    left: -50px;
}
.equipe-foto-hover span:after{
    right: -50px;
}

.equipe-foto-hover a{
    color: #fff;
    font-size: 0.875rem;
    background: #f47933;
    padding: 3px 10px;
    position: relative;
    top: 5px;
}
.equipe-foto-hover a:hover{
    background: #ca5818;
}

/* equipe-title */
.equipe-title{
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}
.equipe-title:before{
    position: absolute;
    content: "";
    background: #f47933;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}
.equipe-title strong{
    font-size: 1.125rem;
    font-weight: 400;
    position: relative;
}

/* equipe hover */
.equipe-list li:hover .equipe-foto-hover{
    opacity: 1;
    border-radius: 0;
    -webkit-border-radius: 0;
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
}
.equipe-list li:hover .equipe-title:before{
    top: 0;
}
.equipe-list li:hover .equipe-title{
    color: #fff;
}

/*BREAKPOINTS
=======================================*/
/* MAX-WIDTH */
@media (max-width: 959.9px){
    #nav-toggle, .header-redes{
        display: block;
    }

    /* header */
    .header{
        height: 58px;
    }

    /* carousel principal */
    #carousel_principal{
        height: calc(100% - 58px);
    }

    /* header logo */
    .header-logo{
        max-width: 180px;
        width: 60%;
        padding: 12px 0;
    }

    /* menu */
    .header-collapse{
        overflow-y: auto;
        position: fixed;
        background: rgba(45, 63, 81, .95);
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 15px;
        top: -100%;
        left: 0;
        transition: top .4s ease;
        -webkit-transition: top .4s ease;
    }
    .header-collapse.active{
        top: 0%;
    }

    .header-nav{
        padding: 25px 0;
        float: none;
    }

    .header-nav ul li {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .header-nav ul li a{
        color: #fff;
        font-size: 1.4rem;
    }

    /* search */
    .header-search{
        max-width: 300px;
        margin: 0 auto;
        float: none;
    }
    .header-search input{
        padding: 15px;
    }
}

/* MIN-WIDTH */
@media (min-width: 480px){
    /* curiosidades */
    .curiosidades ul li{
        float: left;
        width: 50%;
    }
}

@media (min-width: 667px){
    /* equipe */
    .equipe-list li{
        width: 50%;
    }
    .equipe-list li:nth-of-type(2n+0){
        border-left: 0;
    }
}

@media (min-width: 768px){
    /* carousel principal */
    #carousel_principal .owl-caption{
        padding: 30px;
        font-size: 1.6rem;
    }

    #carousel_principal .owl-caption strong{
        font-size: 2.5rem;
    }

    /* agencia */
    .agencia-item{
        float: left;
        width: calc((100% - 4%) / 2);
        margin-right: 4%;
    }
    .agencia-item:nth-of-type(2n+0){
        margin-right: 0;
    }

    /* curiosidades */
    .curiosidades ul li{
        width: 25%;
    }
}

@media (min-width: 960px){
    /* header */
    .header-nav{
        margin-left: 2%;
    }

    .header-nav ul li a.active:before{
        background: #f47933;
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        top: -31px;
        left: 0;
    }

    /* agencia */
    .agencia-item:nth-of-type(2n+0),
    .agencia-item{
        float: left;
        width: calc((100% - 8%) / 3);
        margin-right: 4%;
    }
    .agencia-item:nth-of-type(3n+0){
        margin-right: 0;
    }

    /* equipe */
    .equipe-list li:nth-of-type(2n+0),
    .equipe-list li{
        width: 25%;
    }
    /* .equipe-list li:not(:first-child):nth-of-type(1n+0){
        border-left: 0;
    } */
    .equipe-list li:not(:first-child){
        border-left: 0;
    }
}

@media (min-width: 1024px){
    /* header */
    .header-nav ul li{
        margin: 0 6px;
    }
}

@media (min-width: 1144px){
    /* header logo */
    .header-logo{
        width: auto;
    }
    /* header */
    .header-nav ul li a{
        font-size: 1rem;
    }
}

@media (min-width: 1280px){
    /* header */
    .header-nav ul li{
        margin: 0 8px;
    }
    .header-search{
        width: 160px;
    }
}
